*,
*:before,
*:after {
    margin:0;
    box-sizing:border-box;
}

header {
    text-align:center;
}
.container {
    display:flex;
    justify-content:center;
    flex-direction: column;
    border:5px solid red; 
    margin:auto;
    height:100vh;
}

.gameboard-container {
    display:flex;
    border:5px solid red;
    justify-content:center;
    margin:0 auto;
}

.game-board {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.square {
    border:3px solid black;
    padding:80px;
    font-size:2rem;
}